:root {
    --primaryColor: #0075c4;
    --secondaryColor: #2c3e50;
    --bgMenuActive: #0075c4;
    --bgButton: #0075c4;
    --logoImageUrl: '';
    --bgAside: #ffffff;
    --bgMain: #fafafa;
    --bgMenuActive: #0075c4;
    --bgMenuStandby: #f5f5f5;
    --colorMenuActive: #ffffff;
    --colorMenuStandby: #222;
}

.healthcheck-ui-header-title {
    font-weight: bold;
}

.hc-service-status {
    padding: 8px;
    border-radius: 4px;
}

.hc-service-status-healthy {
    background-color: #4caf50 !important;
}

.hc-service-status-unhealthy {
    background-color: #f44336 !important;
}

.hc-service-status-degraded {
    background-color: #ff9800 !important;
} 